* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style: none;
}

.container {
  max-width: 1550px;
  margin: auto;
}

img {
  max-width: 100%;
}

.cl2 {
  margin-top: 10px;
}

.btn-1 {
  cursor: pointer;
  color: #cfb784;
  border-radius: 2px;
  width: 25px;
  height: 20px;
  border: 1px solid rgba(207, 183, 132, 0.3843137255);
  background-color: #202022;
}

body {
  background-color: #202022;
  color: #cfb784;
}
body .img {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
}
body .img img {
  position: relative;
  width: 100%;
  display: block;
  max-width: 1000px;
  left: 50%;
  translate: -50%;
  z-index: -1;
  filter: grayscale(0.5);
}
body .img::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #202022, rgba(32, 32, 34, 0.6901960784), rgba(32, 32, 34, 0.6901960784), #202022), linear-gradient(to bottom, #202022, rgba(32, 32, 34, 0), #202022);
  width: 100%;
  top: 0;
  height: 100%;
  max-width: 1000px;
  left: 50%;
  translate: -50%;
  z-index: 3;
}
body nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
body nav ul {
  display: flex;
  gap: 30px;
}
body main {
  margin: auto;
  overflow: hidden;
  margin: 20px 0;
}
body main .con1 {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 70px;
}
body main .con1 .box {
  display: flex;
  align-items: center;
  gap: 30px;
}
body main .con1 .box ul {
  height: 122px;
  display: grid;
  grid-template-columns: repeat(2, minmax(235px, 250px));
  grid-template-rows: repeat(auto-fill, 30.5px);
}
body main .con1 .box ul li {
  margin: 4px 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
body main .con1 .box ul li .btn {
  width: 20px;
  cursor: pointer;
}
body main .con1 .box ul li:nth-child(1) {
  margin-top: 0;
}
body main .con1 .box .totalbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 115px;
}
body main .con1 .box .totalbox > span {
  width: -moz-fit-content;
  width: fit-content;
}
body main .con1 .box .totalbox .totalprice {
  font-size: 30px;
}
body main .con1 .box .totalbox span {
  font-size: 25px;
}
body main .con1 .box .totalbox button {
  color: #202022;
  font-weight: 600;
  font-size: 20px;
  width: -moz-max-content;
  width: max-content;
  background-color: #cfb784;
  cursor: pointer;
  padding: 5px 15px;
  border: 0;
  border-radius: 3px;
  margin-top: 10px;
}
body main .con1 .line {
  position: relative;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  gap: 4px;
  margin: 3px 0 20px;
}
body main .con1 .line:nth-child(4) {
  margin-top: 50px;
}
body main .con1 .line:nth-child(2) {
  margin-bottom: 50px;
  margin-top: 10px;
}
body main .con1 .line .dot {
  background-color: #cfb784;
  width: 6px;
  display: inline-block;
  height: 6px;
  border-radius: 50%;
}
body main .con1 .line::before, body main .con1 .line::after {
  content: "";
  position: absolute;
  left: 0;
  translate: -105% -1px;
  top: 50%;
  width: 100px;
  height: 2px;
  background: linear-gradient(to left, #cfb784, rgba(207, 183, 132, 0));
}
body main .con1 .line::after {
  left: auto;
  right: 0;
  translate: 105% -1px;
  background: linear-gradient(to right, #cfb784, rgba(207, 183, 132, 0));
}
body main .con2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 80px;
  position: relative;
  translate: 0px;
}
body main .con2 .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 20px;
}
body main .con2 .item img {
  max-width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .con2 .item figcaption {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}
body main .con2 .item figcaption h3 {
  margin-bottom: 3px;
}
body main .con2 .item figcaption button {
  cursor: pointer;
  color: #cfb784;
  border-radius: 2px;
  padding: 3px 11px;
  border: 1px solid rgba(207, 183, 132, 0.3843137255);
  background-color: #202022;
}
body main .con2 .item::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  top: 5%;
  left: -1px;
  background: linear-gradient(rgba(207, 183, 132, 0), rgba(207, 183, 132, 0.9333333333), rgba(207, 183, 132, 0));
}/*# sourceMappingURL=styles.css.map */